name: Diggity Action
on: [push, pull_request]
jobs:
  diggity:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        
      - name: BOM Diggity Action
        uses: carbonetes/diggity-action@v1.0.0
        with:
          directory: .
          output_type: json
          enabled_parsers: all
          output_file: sbom.json
